@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.collab-container {
    position:relative;
    height: 100%;
    float: right;
    width: calc(100% - 60px);
}

.ReactCodeMirror {
    height: 100%;
    width: 80%;
    float: left;
}

.ReactCodeMirror .CodeMirror {
    font-family: 'Roboto Mono', monospace;
    height: 100%;
    width: 100%;
    float: left;
    z-index: 0;
  }
