@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

textarea {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    width: 80%;
    height: 100%;
    overflow-y: scroll;
    resize: none;
    float: left;
}

.collab-container {
    height: 100%;
    float: right;
    width: calc(100% - 60px);
}