.landing-page {
    position:relative;
    height: 100%;
    float: right;
    width: calc(100% - 60px);
    color: white;
    overflow-y: scroll;
}

img {
    display: block;
    margin: 0 auto;
    max-height: 25%;
    width: 50%;
}

.section-head {
    text-align: left;
    padding-left: 25px;
}

.section-info {
    padding-left: 35px;
}

.dev-section {
    display: inline-block;
    text-align: center;
}

    .dev-section p {
        padding: 15px;
    }

    .dev-section img {
        border-radius:50%;
        height: 25%;
        width: 25%;
    }

@media(min-width: 992px) {
    .dev-section img {
        height: 50%;
        width: 50%;
    }
}