.landing-page {
    position:relative;
    height: 100%;
    float: right;
    width: calc(100% - 60px);
    color: white;
    overflow-y: scroll;
}

img {
    display: block;
    margin: 0 auto;
    max-height: 50%;
    max-width: 50%;
}

h1, h3 {
    text-align: center;
}

.section-head {
    text-align: left;
    padding-left: 25px;
    text-decoration: underline;
}

.section-info {
    padding-left: 35px;
}

.btn-input{
    background-color:rgb(177, 177, 177);
    padding:15px;
    margin:4px;
    font-size:18pt;   
    color: rgb(80, 81, 82);
}

.btn-green{
    background-color: rgb(61, 141, 64);
    padding:15px;    
    margin:4px;
    font-size:18pt;
    color: white;
}

.btn-purple{
    background-color: rgb(132, 42, 156);
    padding:15px;
    margin:4px;
    font-size:18pt;    
    color: white;
}

.row-align-center{
    margin:0 auto;
}

.dev-section {
    width: calc(36% - 60px);
    display: inline-block;
    text-align: center;
}

.dev-section p {
    padding: 15px;
}

.dev-section img {
    border-radius:50%;
}

    

