.users-page {
    position: relative;
    float: right;
    width: calc(100% - 60px);
    color: white;    
    text-align: center;
    
}

.name {
    height: 100%;
    font-size: 64px;
}

.reset-pass {
    align-content: center;
    color: black;
}

.change-pass {
    text-align: center;
}
.submit-button {
    align-content: center;
    color: black;
}

h3 {
    color:#fff;
}

input {
    color: black;
}

.hidden { display:none; }