.users-page {
    width: calc(100% - 60px);
    color: white;
    padding: 75px;
}

.reset-pass,
.submit-button,
input {
    color: black;
}

.hidden { 
    display: none; 
}

@media(min-width: 768px) {
    .users-page {
        padding: 200px;
    }
}