.users-container {
    height: 100%;
    width: 20%;
    float:right;
    text-align: center;
}

h1.users-header {
    color: white;
    text-align: center;
}

ul.users-list{
    color:white;
    font-size: 16px;
    text-align: left;
}